---
layout: home
---

<!-- start physical artworks -->
<section id="physical" class="p-t-75">
  <h1 class="f-mont-34 f-mont-26-phone">Physical</h1>
  <div class="txt-a-center p-b-m">
    <img
      style="max-height:480px;"
      src="/assets/images/self-portrait.jpg"
      alt=""
    />
  </div>
  <div class="tile-container-3 tile-container-1-mobile p-b-m">
    <img src="/assets/images/vintage-photo1.jpg" alt="" />
    <img src="/assets/images/vintage-photo2.jpg" alt="" />
    <img src="/assets/images/vintage-photo3.jpg" alt="" />
  </div>
  <div class="txt-a-center p-b-m">
    <img style="max-height:480px;" src="/assets/images/collage.jpg" alt="" />
  </div>
  <div class="txt-a-center p-b-m">
    <img style="max-height:480px;" src="/assets/images/catcus.jpg" alt="" />
  </div>
  <div class="tile-container-2 tile-container-1-mobile">
    <div class="flex-row flex-align-items-center">
      <img src="/assets/images/i-need-space.jpg" alt="" />
    </div>
    <img src="/assets/images/space-cat.jpg" alt="" />
  </div>
</section>
<!-- end physical artworks -->

<!-- start digital artworks -->
<section id="digital" class="p-t-75">
  <h1 class="f-mont-34 f-mont-26-phone">Digital</h1>
  <div class="txt-a-center p-b-m">
    <img style="max-height:480px;" src="/assets/images/spaceship.jpg" alt="" />
  </div>
  <div class="tile-container-3 tile-container-1-mobile">
    <img src="/assets/images/tarot_graveyard.jpg" alt="" />
    <img src="/assets/images/tarot_seance.jpg" alt="" />
    <img src="/assets/images/tarot_cat.jpg" alt="" />
  </div>
</section>
<!-- end digital artworks -->

<!-- start films -->
<section id="film" class="p-t-75">
  <h1 class="f-mont-34 f-mont-26-phone">Film</h1>
  {% for film in site.data.films %} {% include film.html film=film %} {% endfor
  %}
</section>
<!-- end films -->
