/*
# Padding classes
*/
.p-0 {
  padding: 0px !important;
}

.p-xs {
  padding: calc(var(--line-height) * 0.25) !important;
}

.p-s {
  padding: calc(var(--line-height) * 0.5) !important;
}

.p-m {
  padding: calc(var(--line-height) * 1) !important;
}

.p-l {
  padding: calc(var(--line-height) * 1.5) !important;
}

.p-xl {
  padding: calc(var(--line-height) * 2) !important;
}

.p-2xl {
  padding: calc(var(--line-height) * 3) !important;
}

.p-gutter {
  padding-left: var(--gutters, 0px) !important;
  padding-right: var(--gutters, 0px) !important;
}

.p-l-gutter {
  padding-left: var(--gutters, 0px) !important;
}

.p-r-gutter {
  padding-right: var(--gutters, 0px) !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-r-xs {
  padding-right: calc(var(--line-height) * 0.25) !important;
}

.p-r-s {
  padding-right: calc(var(--line-height) * 0.5) !important;
}

.p-r-m {
  padding-right: calc(var(--line-height) * 1) !important;
}

.p-r-l {
  padding-right: calc(var(--line-height) * 1.5) !important;
}

.p-r-xl {
  padding-right: calc(var(--line-height) * 2) !important;
}

.p-r-2xl {
  padding-right: calc(var(--line-height) * 3) !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-l-xs {
  padding-left: calc(var(--line-height) * 0.25) !important;
}

.p-l-s {
  padding-left: calc(var(--line-height) * 0.5) !important;
}

.p-l-m {
  padding-left: calc(var(--line-height) * 1) !important;
}

.p-l-l {
  padding-left: calc(var(--line-height) * 1.5) !important;
}

.p-l-xl {
  padding-left: calc(var(--line-height) * 2) !important;
}

.p-l-2xl {
  padding-left: calc(var(--line-height) * 3) !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-xs {
  padding-bottom: calc(var(--line-height) * 0.25) !important;
}

.p-b-s {
  padding-bottom: calc(var(--line-height) * 0.5) !important;
}

.p-b-m {
  padding-bottom: calc(var(--line-height) * 1) !important;
}

.p-b-l {
  padding-bottom: calc(var(--line-height) * 1.5) !important;
}

.p-b-xl {
  padding-bottom: calc(var(--line-height) * 2) !important;
}

.p-b-2xl {
  padding-bottom: calc(var(--line-height) * 3) !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-xs {
  padding-top: calc(var(--line-height) * 0.25) !important;
}

.p-t-s {
  padding-top: calc(var(--line-height) * 0.5) !important;
}

.p-t-m {
  padding-top: calc(var(--line-height) * 1) !important;
}

.p-t-l {
  padding-top: calc(var(--line-height) * 1.5) !important;
}

.p-t-xl {
  padding-top: calc(var(--line-height) * 2) !important;
}

.p-t-2xl {
  padding-top: calc(var(--line-height) * 3) !important;
}

.p-t-75 {
  padding-top: 75px;
}

@media screen and (max-width: 900px) {
  .p-0-tablet {
    padding: 0px !important;
  }

  .p-xs-tablet {
    padding: calc(var(--line-height) * 0.25) !important;
  }

  .p-s-tablet {
    padding: calc(var(--line-height) * 0.5) !important;
  }

  .p-m-tablet {
    padding: calc(var(--line-height) * 1) !important;
  }

  .p-l-tablet {
    padding: calc(var(--line-height) * 1.5) !important;
  }

  .p-xl-tablet {
    padding: calc(var(--line-height) * 2) !important;
  }

  .p-2xl-tablet {
    padding: calc(var(--line-height) * 3) !important;
  }

  .p-r-0-tablet {
    padding-right: 0px !important;
  }

  .p-r-xs-tablet {
    padding-right: calc(var(--line-height) * 0.25) !important;
  }

  .p-r-s-tablet {
    padding-right: calc(var(--line-height) * 0.5) !important;
  }

  .p-r-m-tablet {
    padding-right: calc(var(--line-height) * 1) !important;
  }

  .p-r-l-tablet {
    padding-right: calc(var(--line-height) * 1.5) !important;
  }

  .p-r-xl-tablet {
    padding-right: calc(var(--line-height) * 2) !important;
  }

  .p-r-2xl-tablet {
    padding-right: calc(var(--line-height) * 3) !important;
  }

  .p-l-0-tablet {
    padding-left: 0px !important;
  }

  .p-l-xs-tablet {
    padding-left: calc(var(--line-height) * 0.25) !important;
  }

  .p-l-s-tablet {
    padding-left: calc(var(--line-height) * 0.5) !important;
  }

  .p-l-m-tablet {
    padding-left: calc(var(--line-height) * 1) !important;
  }

  .p-l-l-tablet {
    padding-left: calc(var(--line-height) * 1.5) !important;
  }

  .p-l-xl-tablet {
    padding-left: calc(var(--line-height) * 2) !important;
  }

  .p-l-2xl-tablet {
    padding-left: calc(var(--line-height) * 3) !important;
  }

  .p-b-0-tablet {
    padding-bottom: 0px !important;
  }

  .p-b-xs-tablet {
    padding-bottom: calc(var(--line-height) * 0.25) !important;
  }

  .p-b-s-tablet {
    padding-bottom: calc(var(--line-height) * 0.5) !important;
  }

  .p-b-m-tablet {
    padding-bottom: calc(var(--line-height) * 1) !important;
  }

  .p-b-l-tablet {
    padding-bottom: calc(var(--line-height) * 1.5) !important;
  }

  .p-b-xl-tablet {
    padding-bottom: calc(var(--line-height) * 2) !important;
  }

  .p-b-2xl-tablet {
    padding-bottom: calc(var(--line-height) * 3) !important;
  }

  .p-t-0-tablet {
    padding-top: 0px !important;
  }

  .p-t-xs-tablet {
    padding-top: calc(var(--line-height) * 0.25) !important;
  }

  .p-t-s-tablet {
    padding-top: calc(var(--line-height) * 0.5) !important;
  }

  .p-t-m-tablet {
    padding-top: calc(var(--line-height) * 1) !important;
  }

  .p-t-l-tablet {
    padding-top: calc(var(--line-height) * 1.5) !important;
  }

  .p-t-xl-tablet {
    padding-top: calc(var(--line-height) * 2) !important;
  }

  .p-t-2xl-tablet {
    padding-top: calc(var(--line-height) * 3) !important;
  }
}

@media screen and (max-width: 600px) {
  .p-0-phone {
    padding: 0px !important;
  }

  .p-xs-phone {
    padding: calc(var(--line-height) * 0.25) !important;
  }

  .p-s-phone {
    padding: calc(var(--line-height) * 0.5) !important;
  }

  .p-m-phone {
    padding: calc(var(--line-height) * 1) !important;
  }

  .p-l-phone {
    padding: calc(var(--line-height) * 1.5) !important;
  }

  .p-xl-phone {
    padding: calc(var(--line-height) * 2) !important;
  }

  .p-2xl-phone {
    padding: calc(var(--line-height) * 3) !important;
  }

  .p-r-0-phone {
    padding-right: 0px !important;
  }

  .p-r-xs-phone {
    padding-right: calc(var(--line-height) * 0.25) !important;
  }

  .p-r-s-phone {
    padding-right: calc(var(--line-height) * 0.5) !important;
  }

  .p-r-m-phone {
    padding-right: calc(var(--line-height) * 1) !important;
  }

  .p-r-l-phone {
    padding-right: calc(var(--line-height) * 1.5) !important;
  }

  .p-r-xl-phone {
    padding-right: calc(var(--line-height) * 2) !important;
  }

  .p-r-2xl-phone {
    padding-right: calc(var(--line-height) * 3) !important;
  }

  .p-l-0-phone {
    padding-left: 0px !important;
  }

  .p-l-xs-phone {
    padding-left: calc(var(--line-height) * 0.25) !important;
  }

  .p-l-s-phone {
    padding-left: calc(var(--line-height) * 0.5) !important;
  }

  .p-l-m-phone {
    padding-left: calc(var(--line-height) * 1) !important;
  }

  .p-l-l-phone {
    padding-left: calc(var(--line-height) * 1.5) !important;
  }

  .p-l-xl-phone {
    padding-left: calc(var(--line-height) * 2) !important;
  }

  .p-l-2xl-phone {
    padding-left: calc(var(--line-height) * 3) !important;
  }

  .p-b-0-phone {
    padding-bottom: 0px !important;
  }

  .p-b-xs-phone {
    padding-bottom: calc(var(--line-height) * 0.25) !important;
  }

  .p-b-s-phone {
    padding-bottom: calc(var(--line-height) * 0.5) !important;
  }

  .p-b-m-phone {
    padding-bottom: calc(var(--line-height) * 1) !important;
  }

  .p-b-l-phone {
    padding-bottom: calc(var(--line-height) * 1.5) !important;
  }

  .p-b-xl-phone {
    padding-bottom: calc(var(--line-height) * 2) !important;
  }

  .p-b-2xl-phone {
    padding-bottom: calc(var(--line-height) * 3) !important;
  }

  .p-t-0-phone {
    padding-top: 0px !important;
  }

  .p-t-xs-phone {
    padding-top: calc(var(--line-height) * 0.25) !important;
  }

  .p-t-s-phone {
    padding-top: calc(var(--line-height) * 0.5) !important;
  }

  .p-t-m-phone {
    padding-top: calc(var(--line-height) * 1) !important;
  }

  .p-t-l-phone {
    padding-top: calc(var(--line-height) * 1.5) !important;
  }

  .p-t-xl-phone {
    padding-top: calc(var(--line-height) * 2) !important;
  }

  .p-t-2xl-phone {
    padding-top: calc(var(--line-height) * 3) !important;
  }
}

@media screen and (max-width: 600px) {
  .unpad-m-phone {
    margin-left: calc(var(--line-height) * -1) !important;
    margin-right: calc(var(--line-height) * -1) !important;
  }
}
